<div class="container">
  <h2>Miss Meghna Patidar Collection</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "megh6.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>I wonder how I couldn’t notice such a magnificent flower like you before.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "megh12.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>You are beautiful, you made me believe that this world is worth living in.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "megh1.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Your beauty captures me, but what amazes me is that it is wonderfully combined with your amazing soul</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag "megh2.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>There is nobody more beautiful in this world that a woman in love, so there is nobody more beautiful than you.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "megh3.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Magic is when our eyes meet and we feel the spark between our hearts. You are wonderful.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "megh4.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Do you know which thing I like the most about you? That you are beautiful inside and out.</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag "megh5.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Even if I were blind, I could still see your beauty, because it is in your soul and it can be seen only with a hear</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "megh6.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>It’s a pity it’s impossible to hold a beauty contest among the angels because then you would have won..</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "megh7.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Your beauty cannot be ignored, it is something unbelievable because it not only pleases my eyes but also warms my heart..</p>
        </div>
      </div>
    
      <div class="item">
        <%= image_tag "megh8.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Don't wait for someone else to love you. fall in love with your self first.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "megh9.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>I am not perfect person, i make lot of mistakes but still  i love those people who stay with me after knowing how i really am.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "megh10.jpg", alt: "Los Angeles", style: "width:100%;" %>
        <div class="carousel-caption">
          <h3>Badwani MP</h3>
          <p>Love is what makes you smile when you are tired.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<%= link_to "open in gallery", gallery_path, class: 'btn btn-success gallery-btn' %>
<%= link_to "Meghna Special", meghna_special_path, class: 'btn btn-success megh-special' %>
<style type="text/css">
  .gallery-btn, .megh-special{
    margin: 20px 0px 0px 130px;

  }
  p{
    color: red;
    font-size: 20px;
  }
  h3{
    color: red;
    font-size: 25px;
  }

</style>